.header .header-top {
    background: #3f35b4 none repeat scroll 0 0;
    height: 30px;
}
/* Styles pour l'en-tête fixe */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Couleur de fond de l'en-tête */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    z-index: 1000;
    height: 90px; /* Assurez-vous que l'en-tête est au-dessus du contenu */
}
.header .hamburger {
    display: none;
  }
 
  
  .header .header-bottom .collapse ul {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 200px;
    
   
 
}
.header .header-bottom .collapse  {
   margin-left: 400px;
 
}


.contact>p {
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header .header-top .contact p a {
    color: #601818;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header .header-top .contact p span {
    margin-right: 45px;
}




.header .header-bottom .menu {
    margin: 24px 0;
    
}


.header .header-bottom .menu ul {
    float: right;
    display: flex;
    flex-direction: row;
}

.header .header-bottom .menu ul li a {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 0;
}



.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

.main-logo {
    margin: 10px 0;

}

.main-logo>img {
    display: inline-block;
width: 100px;
height: 90px;
margin-top: -14px;
}


.main-logo>h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    color: #94C41C;
}

.carosal-area {
    background-image: url("img/headerbuki (1).jpg");
    background-size: cover;
    height: 900px;
}

.carosal-area .text {
    text-align: center;
    margin-bottom: 50px;
}

.carosal-area .text>h1 {
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 310px;
}

.carosal-area .text>p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
    margin-top: 40px;
}

.carosal-area .text>h5 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 72px;
}

.carosal-area .text>h5 a {
   
    background-color: #94C41C;
    border-radius: 25px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
}

.carosal-area .text>h5.white-button a {
    background: #fff;
    color: #94C41C;
}

.carosal-area .owl-prev {
    left: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-next {
    right: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-theme .owl-nav [class*="owl-"] {
    background: #94C41C none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 25px;
    height: 50px;
    line-height: 43px;
    width: 50px;
}

.carosal-area .owl-dots {
    margin-bottom: 40px;
    margin-top: 105px;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff none repeat scroll 0 0;
}


/*
.wrapper section>h2 {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    width: -moz-fit-content;
    text-transform: uppercase;
}
*/

.wrapper section>h2 {
    color: #94C41C;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 115px 0 50px;
}

.wrapper section>h2::before {
    background: #fff none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 28%;
    position: absolute;
    width: 75px;
    margin: 0 auto;
}

.wrapper section>p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.a_propos {
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    height: 460px;
    
}


.a_propos .apropos_image {
    background-image: url("img/close-up-community-concept-with-hands.jpg");
    background-size: cover;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 100px 35px 0;
    padding: 40px 45px;
    position: relative;
    height: 400px;
    width: 500px;
}
.a_propos .apropos_text {
    margin: 100px 35px 0;
    width: 400px;


}



.a_propos .apropos_text h1 {
    border-radius: 60px;
    margin: 10px auto 48px;
    position: relative;
    width: -moz-fit-content;
    text-align: center;
    color: #94C41C;
    margin-bottom: 20px;
    margin-top: -10px;
}

.a_propos .apropos_text h1::before {
    background: #fff none repeat scroll 0 0;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 20%;
    position: absolute;
    width: 30%;
}



.a_propos .apropos_text p {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

.apropos_plus .apropos_description p {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.a_propos .apropos_text:hover>h1::before {
    background: #fff;

    color: #fff;
}

.a_propos .apropos_text  h2 {
    margin-top: 70px;
    text-align: center;
}

.a_propos .apropos_text  h2 a {
    background: #94C41C none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}


.mission_section {
    background-color: #94C41C;
    background-size: cover;
}

.mission_section h1 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.mission_section p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: #94C41C;
}

.mission_section .for-padding {
    padding: 87px 20px 107px;
}

.mission_section .progress {
    max-width: 700px;
    margin: 0 auto;
    height: 10px;
    background-color: #94C41C;
}

.mission_section .progress-bar {
    background-color: #fff;
}

.mission_section .progress-text {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.mission_section .progress-text .progress-right {
    position: absolute;
    right: 0;
    margin-top: 15px;
}

.mission_section .progress-text .progress-left {
    left: 0;
    position: absolute;
    margin-top: 15px;
}
.mission_section  h2 {
    margin-top: 70px;
    text-align: center;
}

.mission_section  h2 a {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    color:#94C41C;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}





.branches .our_cuauses_single {
    margin-top: 75px;
    margin-bottom: 55px;
}

.branches .our_cuauses_single .item {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-bottom: 20px
}

.branches .our_cuauses_single .item img {
    width: 100%
}

.branches .our_cuauses_single .item h2 {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0 40px;
}

.branches .our_cuauses_single .item p {
    color: #595959;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.branches .our_cuauses_single .item p span {
    color: #94C41C;
}

.branches .our_cuauses_single .item p.progress-top {
    text-align: center
}

.branches .our_cuauses_single .item .for_padding {
    padding: 0 30px;
    height: 200px;
}

.branches .progress {
    background-color: #e5e5e5;
    height: 10px;
    margin-top: 20px;
    max-width: 100%;
}


.branches h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color:#94C41C;
    margin-top: 40px;
}

.branches h2 {
    color: #3c354e;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    width: -moz-fit-content;
}

.branches h2::before {
    background: #94C41C none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 25%;
    position: absolute;
    width: 50%;
}


.branches h2.borderes::before {
    background: #94C41C none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 0px;
    left: 25%;
    position: absolute;
    width: 0%;
}


.wrapper .branches>p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.branches h2 a {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    color: #94C41C;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
    border: 1px solid #94C41C;
}

.branches .our_cuauses_single .item {
    margin-bottom: 20px
}





.branches .our_cuauses_single .item .for_padding:hover>h2 {
    color: #94C41C;
}

.branches .our_cuauses_single .item .for_padding:hover>h2 a {
    color: #fff;
    background: #94C41C;
}

.branches .owl-theme .owl-nav {
    margin: 50px 0;
}

.branches .owl-theme .owl-nav [class*="owl-"] {
    background: transparent;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    margin: 8px;
    padding: 0;
}

.branches .owl-theme .owl-nav i {
    background: #94C41C none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    height: 50px;
    overflow: hidden;
    padding: 10px 15px;
    width: 50px;
}

.branches .owl-theme .owl-nav i:hover {
    background: #94C41C;
    color: #fff;
}

.contact {
    height: 600px;
}

.contact .contact_input {
    background: #94C41C none repeat scroll 0 0;
    float: left;
    height: 600px;
    text-align: center;
    width: 50%;
}

.contact .contact_input h2,
.contact .contact_image h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin: 75px 0 50px;
    text-align: center;
}

.contact .contact_image h2 {
    color: #000;
}

.contact .contact_input p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 35px 0;
    text-align: center;
    text-transform: uppercase;
}

.contact .contact_input p input {
    margin-left: 20px;
    margin-right: 10px;
}
.contact .contact_input form h4 textarea::placeholder {
    color: white;
}                                                                                                             
.contact .contact_input form h5 input::placeholder {
    color: white;
} 

.contact .contact_input h5 {
    margin: 65px auto 0;
    max-width: 500px;
}

.contact .contact_input h5 input {
    background: #94C41C none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 17px 20px;
    width: 47%;
}

.contact .contact_input h5 input[type="text"] {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-right: 2%;
}

.contact .contact_input h5 input[type="email"] {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-left: 2%;
}

.contact .contact_input input[type="submit"] {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #94C41C;
    border-radius: 10px;
    color: #94C41C;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 45px;
    padding: 15px 40px;
}

.contact .contact_input h4 {
    margin-top: 20px;
    text-align: center;
}

.contact .contact_input h4 textarea {
    width: 500px;
    background: #94C41C none repeat scroll 0 0;
    border: none;
    padding: 17px 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.contact .contact_image {
    background: #eceff1 none repeat scroll 0 0;
    float: left;
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
}

.contact .contact_image .contact_info .contact_item {
   display: flex;
   flex-direction: row;
  gap: 10px;
   
}



.contact .contact_image .item h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.contact .contact_image .contact_item p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-left: 2px;
    background-color: red;
    display: flex;
    flex-direction: row;

}
.contact .contact_image  p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;

    text-align: center;
}



.volunteer_area .item {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.volunteer_area .item img {
    float: left;
    width: 160px;
    height: 137px;
}


.volunteer_area .item .text {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    float: left;
    width: 250px;
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 137px;

}

.volunteer_area .item .text h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.volunteer_area .item .text h6 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0;
}

.volunteer_area .item .text h5 i {
    font-size: 18px;
    color: #504b5f;
    margin-right: 20px;
}

.volunteer_area .item .text p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 0;
}

.volunteer_area .owl-theme .owl-nav {
    margin: 65px 0 110px;
}

.volunteer_area .owl-theme .owl-nav [class*="owl-"] {
    background: transparent;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    margin: 8px;
    padding: 0;
}

.volunteer_single {
    margin-top: 70px;
}

.volunteer_area .owl-theme .owl-nav i {
    background: #94C41C none repeat scroll 0 0;
    border: 1px solid #94C41C;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    height: 50px;
    overflow: hidden;
    padding: 10px 15px;
    width: 50px;
}


.volunteer_area .owl-theme .owl-nav i:hover {
    background: #94C41C;
    color: #fff;
}


.footer_carosal {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 150px;
    padding: 60px 0;
}

.footer_carosal .footer_carosal_icon .item img {
    width: 150px;
}

.footer {
    background: #2e2e2e;
    padding-top: 80px
}

.footer .footer-charity-text {
    max-width: 345px;
}

.footer .footer-charity-text h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 27px;
}

.footer .footer-charity-text p {
    color: rgb(200, 200, 200);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.footer .footer-charity-text hr {
    border-color: rgb(91, 91, 91);
}

.footer .footer-charity-text p i {
    color: rgb(200, 200, 200);
    font-size: 18px;
    margin-right: 20px;
}

.footer-charity-text hr {
    margin: 35px 0;
}

.footer .footer-text h3 {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0 25px;
}

.footer .footer-text ul {
    margin: 0;
    padding: 0;
}

.footer .footer-text.one ul li {
    left: 7px;
    list-style: outside none none;
    padding-left: 20px;
    position: relative;
}

.footer .footer-text.one ul li i {
    color: rgb(200, 200, 200);
    font-size: 15px;
    left: -7px;
    position: absolute;
    top: 3px;
}

.footer .footer-text.one ul li a {
    color: rgb(200, 200, 200);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text.two ul li a {
    color: rgb(200, 200, 200);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text ul li {
    margin-bottom: 10px;
}

.footer .footer-text.two ul li a:hover,
.footer .footer-text.one ul li a:hover,
.footer .footer-text.one ul li i:hover,
.footer .footer-charity-text p i:hover {
    color: #c0c0c0;
}

.footer .footer_bottom p {
    background: #232323 none repeat scroll 0 0;
    color: rgb(200, 200, 200);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 75px;
    line-height: 75px;
    margin: 70px 0 0;
    padding: 0;
    text-align: center;
}

.footer .footer_bottom p a {
    color: #94C41C;
    text-decoration: none;
}

.block-wrapper {
    background-image: url(img/count.jpg);
    background-size: 100% 100%;
}

.block-wrapper {
    padding: 60px 0;
    margin-top: 130px;
}

.block-wrapper .block {
    text-align: center;
    padding: 25px 0;
}

.block-wrapper .block i {
    font-size: 60px;
    color: #fff;
}

.block-wrapper .block p.counter-wrapper span {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.block-wrapper .block p.text-block {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.block-wrapper .for-border {
    border-left: 1px solid #94C41C;
}

.block-wrapper .for-border:first-child {
    border-left: 0px solid #fff
}

.clear {
    clear: both;
}
.footer_carosal_icon .owl-nav{
    display: none;
}